.HeyGenStreamingAvatar {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MediaPlayer{
  width: 80%;
  height: 100%;
  background-color: black;
  margin-top: 50px;
}

.Actions{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}

.InputField{
  margin: 10px;
  width: 400px;
}

.InputField2 {
  margin-left: 10px;
  height: 20px;
  width: 400px;
}

.LabelPair{
  height: 50px;
  display: row;
  flex-direction: row;
  align-items: start;
}
